/* Layout */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

main {
  height: 100%;
}

/* Buttons  */
.btn {
  background-color: #1dafed;
  padding: 1rem 2rem 1rem 1.7rem;
}

.btn:hover {
  background-color: #ffffff;
  color: #1dafed;
  cursor: pointer;
}

.btn:hover a {
  color: #1dafed;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

/* NAV */

.hero {
  background-image: url("https://i.imgur.com/rYbrT11.png");
  max-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero::before {
  content: "";
  display: block;
  height: 0;
  padding-top: 61%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 5rem;
  padding-top: 0.8rem;
  margin: 0 3.7%;
  z-index: 999;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 830px) {
  nav ul {
    display: none;
  }
}

nav li {
  padding-right: 23px;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  color: #1dafed;
}

nav li:first-child {
  margin-right: 24px;
}

nav .logo {
  position: absolute;
  right: 5%;
  top: 0%;
  width: 17rem;
  height: 10rem;
}

@media screen and (max-width: 830px) {
  nav .logo {
    width: 10rem;
    height: 5rem;
    right: 0;
    left: 1%;
  }
}

/* Layout */

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 5%;
}

/* intro  */

.intro-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (max-width: 1250px) {
  .intro-wrap {
    position: relative;
    flex-direction: column;
  }
}

.main-container p {
  color: #393939;
  font-size: 16px;
  text-align: right;
  max-width: 640px;
  font-weight: 300;
  line-height: 26px;
}

section.info {
  position: relative;
  padding-bottom: 38px;
}

.card-sticky {
  position: absolute;
  height: 324px;
  width: 27rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.25);
  background: white;
  z-index: 999;
}

@media screen and (max-width: 1250px) {
  .card-sticky {
    position: relative;
    margin-bottom: 20px;
    width: 21rem;
  }
}

.card-background {
  background-image: url("../img/princess-mononoke-card.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 224px;
}

.card-text {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.card-text h3 {
  padding-left: 10px;
}
/* slide show  */

section.slide-bg {
  background-color: red;
  background-image: url("../img/ghiblicollection.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slide-bg::before {
  content: "";
  display: block;
  height: 0;
  padding-top: 1%;
}

.api-temp {
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

@media screen and (min-width: 1340px) {
  .slide-bg {
    max-height: 32rem;
  }
}

@media screen and (max-width: 1339px) {
  .slide-bg {
    max-height: 29rem;
  }

  .api-temp {
    height: 16rem;
  }
}

@media screen and (max-width: 950px) {
  .slide-bg {
    max-height: 24rem;
  }

  .api-temp {
    height: 14rem;
  }
}

@media screen and (max-width: 840px) {
  .slide-bg {
    max-height: 23rem;
  }
  .api-temp {
    height: 12rem;
  }
}

@media screen and (max-width: 630px) {
  .slide-bg {
    max-height: 20rem;
  }
}

@media screen and (min-width: 1341px) {
  .api-temp {
    height: 23rem;
  }
}

@media screen and (min-width: 1341px) {
  .api-temp {
    height: 23rem;
  }
}

@media screen and (min-width: 1450px) {
  .slide-bg {
    max-height: 36rem;
  }
}

@media screen and (min-width: 1800px) {
  .slide-bg {
    max-height: 40rem;
  }
}

@media screen and (min-width: 2000px) {
  .slide-bg {
    max-height: 44rem;
  }
}

.slide-bg h2 {
  color: white;
}

.slide-bg .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 138px;
}

.slick-slide > div {
  transform: scale(0.8);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-center > div {
  transform: scale(1);
}
.slider__item > img {
  width: 100%;
  height: auto;
}

.slick-prev {
  position: absolute;
  left: 0;
  bottom: 51%;
  z-index: 99;
}

.slick-next {
  position: absolute;
  right: 0;
  bottom: 51%;
  z-index: 99;
}

.slider__item p {
  position: absolute;
  bottom: -2%;
  left: -67%;
  opacity: 0;
}

.slider-container {
  padding-top: 40px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #1dafed;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
}

section.film-info {
  padding: 80px 0 80px 0px;
}

#film-list {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.25);
}

.card p {
  color: #393939;
  font-size: 16px;
  text-align: right;
  max-width: 640px;
  font-weight: 300;
  line-height: 26px;
  padding: 22px;
}

.card h3 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
